/* BASIC STYLES HERE */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Neuton", serif;
}

main {
  flex-grow: 1;
  
}

marquee {
  width: 100%;
  height: 100%;
}

.marquee-cards {
  width: 1000px;
}

.marquee-cards-inner {
  color: #fff; 
  height: 7rem;
}

/* .marquee-cards:hover { 
  border: 2px solid gold;
  cursor: grab;
}
*/


.marquee-2 {
  width: 116%;
}

.my-form-control-color {
  width: 2.4rem;
  height: calc(1.5em + 0.75rem + calc(var(--bs-border-width) * 2));
}
.my-form-control-color:not(:disabled):not([readonly]) {
  cursor: pointer;
}

.my-form-control-color::-webkit-color-swatch {
  border: 1;
  border-radius: 50%;
}

#jots-list {
  max-height: 60vh;
  overflow-y: auto;
}

.title-text-box {
  margin-left: -1rem;
}

.active-jot-title {
  margin-left: 3.2em;
}

.time-subheader {
  margin-left: 6em;
}

::placeholder {
  font-weight: bolder;
  opacity: 0.9;
  color: #444798 !important;
}

.jot-list-card {
  background: #f2f2;
}

.jot-list-card:hover {
  cursor: pointer;
  transform: translateY(-0.2rem);
  background-color: #444798 !important;
}

.active-list-card {
  background-color: red !important;
}



#pop-toast-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
}